<header class="bg-[#A1887F] shadow-lg sticky top-0 z-50 border-b-4 border-[#5D4037]">
  <nav class="content-wrapper py-3 flex flex-col sm:flex-row justify-between items-center">
    <a href="index.html"
      class="font-title-main text-4xl text-[#f5e5c3] hover:text-white transition duration-200 mb-2 sm:mb-0">Monsterpedia</a>
    <div class="space-x-3 sm:space-x-4 text-sm sm:text-base">
      <a href="index.html" class="text-[#f5e5c3] hover:text-white transition duration-200">Inicio</a>
      <a href="#all-monsters" class="text-[#f5e5c3] hover:text-white transition duration-200">Índice de
        Chicas Monstruo</a>
      <a href="#submit" class="text-[#f5e5c3] hover:text-white transition duration-200">Sugerir Especie</a>
    </div>
  </nav>
</header>
